<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>MADLIBS EXTRAORDINAIRE</h1>
      </div>
      <form action="/story_time" method="get">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter a name">
        <label for="animal">Animal</label>
        <input type="text" name="animal" id="animal" placeholder="Enter an animal">
        <label for="food">Food</label>
        <input type="text" name="food" id="food" placeholder="Enter a food">
        <label for="adjective">Adjective</label>
        <input type="text" name="adjective" id="adjective" placeholder="Enter an adjective">
        <label for="verb">Verb Present Tense</label>
        <input type="text" name="verb" id="verb" placeholder="Enter a verb present tense">
        <label for="noun">Noun</label>
        <input type="text" name="noun" id="noun" placeholder="Enter a noun">
        <button type="submit" class="btn btn-lg btn-success" name="button">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
